.intro{
    position: relative;
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.introItem{
    margin-left: 2%;
    margin-right: 2%;
    width: 30%;
    max-width: 200px;
    cursor: default;
}

.introItem span{
    font-size: 0.82rem;
    color: rgb(72, 75, 73);
}

@media screen and (max-width: 960px) {
    .introItem {
        width: 48%;
        max-width: 48%;
        margin: 1%;
    }
}

@media screen and (max-width: 480px) {
    .introItem {
        width: 90%;
        max-width: 100%;
        margin: 5%;
    }
}
