#uCard {
        margin-top: 2%;
        margin-left: 25%;
        /* display: flex; */
        justify-content: center;
        text-align: center;
        align-items: center;
        background: rgba(222, 227, 236, 1);
        border-radius: 10px;
        box-shadow: 0 0 30px rgb(182, 187, 216, 0.8);
        /* max-width: 100%; */
        min-width: 50%;
        width: fit-content;
        border-radius: 10px;
        padding-bottom: 10px;
}
#uCard #Uhead{
    /*每个更新卡片的头部style*/
    background-color: #00000000;
    padding-left: 10px;
    font-size: smaller;
    font-weight: bold;
    color: #1e9bde;
    padding-top: 10px;
    /*被文字撑宽*/
    /* 简单地实现了, Line 10-12 */





}
#uCard #Ubodys{
    margin:10px;
    color: #495bff;
    /*每个更新卡片的Body的style*/
    
}
/*祝好！QWQ*/