#uCard {
        transition: .3s;
        margin: 3% auto 0 auto;
        text-align: center;
        background: rgba(255, 255, 255, 1);
        border-radius: 10px;
        box-shadow: 0 0 30px rgb(20, 20, 20, 0.2);
        max-width: 80%;
        min-width: 50%;
        width: fit-content;
        border-radius: 10px;
        padding-bottom: 16px;
}
#uCard:hover{
        transition: .4s;
        transform:scale(1.01);
         box-shadow: 0 0 30px rgb(20, 20, 20, 0.2),0px 0px 0px 2px RGB(210,210,210);
}
#uCard #Uhead{
    /*每个更新卡片的头部style*/
    background-color: #00000000;
    padding-left: 10px;
    font-size: smaller;
    font-weight: bold;
    color: rgb(35,35,35);
    padding-top: 10px;
}
#uCard #Ubodys{
    margin:10px;
    color: rgb(20,20,20);
    /*每个更新卡片的Body的style*/
    
}
br{
    user-select: none;
}
body{
    margin: 0;
}
/*祝好！QWQ*/