#uCard {
        margin: 2% auto 0 auto;
        text-align: center;
        background: rgba(222, 227, 236, 1);
        border-radius: 10px;
        box-shadow: 0 0 30px rgb(182, 187, 216, 0.8);
        max-width: 80%;
        min-width: 50%;
        width: fit-content;
        border-radius: 10px;
        padding-bottom: 10px;
}
#uCard #Uhead{
    /*每个更新卡片的头部style*/
    background-color: #00000000;
    padding-left: 10px;
    font-size: smaller;
    font-weight: bold;
    color: rgb(35,35,35);
    padding-top: 10px;
}
#uCard #Ubodys{
    margin:10px;
    color: rgb(20,20,20);
    /*每个更新卡片的Body的style*/
    
}
br{
    user-select: none;
}
body{
    margin: 0;
}
/*祝好！QWQ*/