.intro{
    position: relative;
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.introItem{
    margin-left: 25px;
    margin-right: 25px;
    width: 15vw;
    display: inline-block;
    cursor: default;
}
.introItem span{
    font-size: 0.82rem;
    color: rgb(72, 75, 73);
}