*::selection {
  background: RGB(186, 165, 218);
  color: #fff;
}

// 全局响应式
:root {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

html body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: auto;
  font-family: "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: var(--breakpoint-xl);
  margin: 0 auto;
  padding: 0 15px;
}
body::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}

body::-webkit-scrollbar-thumb {
  background: rgb(137, 142, 151);
}

body::-webkit-scrollbar-track {
  background: #ededed;
}
